/* X-tra small devices */
@media screen and (max-width: 575.98px){
    nav{
        flex-direction: column;
        gap: 30px;
    }
    nav > ul{
        gap: 30px;
    }
    .banner-section .banner-top{
        padding: 10px;
    }
    .banner-bottom img{
        padding: 0 10px;
    }
    .team-box{
        flex-direction: column;
        padding: 0 10px;
    }
    .team-image-box{
        grid-template-columns: 1fr;
    }
    .features-content h2{
        margin-top: 0;
    }
    .features-section-box{
        flex-direction: column;
        padding: 10px;
        gap: 50px;
    }
    .features-image .ten-year-badge{
        position: static;
        margin-top: 10px;
    }
}

/* small devices  */
@media screen and (min-width: 576px) and (max-width: 767.98px){
    nav{
        flex-direction: column;
        gap: 30px;
    }
    .banner-section .banner-top{
        padding: 10px;
    }
    .banner-bottom img{
        padding: 0 10px;
    }
    .team-box{
        flex-direction: column;
        padding: 0 10px;
    }
    .team-image-box{
        grid-template-columns: 1fr;
    }
    .features-content h2{
        margin-top: 0;
    }
    .features-section-box{
        flex-direction: column;
        padding: 10px;
        gap: 50px;
    }
    .features-image .ten-year-badge{
        position: static;
        margin-top: 10px;
    }
}

/* medium devices  */
@media screen and (min-width: 768px) and (max-width: 991.98px){
    nav{
        flex-direction: column;
        gap: 30px;
    }
    .banner-section .banner-top{
        padding: 15px;
    }
    .banner-bottom img{
        padding: 0 15px;
    }
    .team-box{
        flex-direction: column;
        padding: 0 10px;
    }
    .team-image-box{
        grid-template-rows: 1fr;
    }
    .features-content h2{
        margin-top: 0;
    }
    .features-section-box{
        flex-direction: column;
        padding: 20px;
        gap: 50px;
    }
    .features-image .ten-year-badge{
        position: static;
        margin-top: 10px;
    }
}

/* Large devices  */
@media screen and (min-width: 992px) and (max-width: 1199.98px){
    nav{
        padding: 0 10px;
    }
    .banner-section .banner-top{
        padding: 15px;
    }
    .banner-bottom img{
        padding: 0 15px;
    }
    .features-section-box{
        padding: 20px;
        gap: 20px;
    }
    .features-image .ten-year-badge{
        position: static;
        margin-top: 10px;
    }
}

/* X-Large devices  */
@media screen and (min-width: 1200px) and (max-width: 1400px){

}