/* work sens font from google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* root variables */
:root{
    --white-color: #FFF;
    --banner-background:rgba(255, 144, 14, 0.10);
    --footer-background: #FFF4E7;
    --font-family: 'Work Sans', sans-serif;
    --primary-color: #FF900E;
    --heading-color: #131313;
    --text-color: #727272;
    --footer-text-color: #424242;
    --footer-text-size: 1.25rem;
}

/* basic setup */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif; 
    font-size: 1rem;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 4rem;   /* 64px */
}

h2{
    font-size: 2.8rem;  /* 45px */
}

h3{
    font-size: 1.25rem;  /* 20px */
}

a{
    text-decoration: none;
}

/* header-section start */
.header-section{
    background-color: var(--banner-background);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}

nav > ul li{
    list-style: none;
}

nav ul li a{
    color: var(--footer-text-color);
}

.banner-section .banner-top{
    max-width: 868px;
    margin: 0 auto;
}

.banner-section .banner-top h1{
    color: var(--heading-color);
    text-align: center;
    font-weight: 700;
    margin-top: 102px;
}

.banner-section .banner-top p{
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 32px;
}
.banner-btn{
    text-align: center;
}
.banner-btn button{
    margin: 0 auto;
    padding: 21px 24px 20px 25px;
    border: 0;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 8px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

.banner-bottom{
    margin-top: 50px;
    padding-bottom: 45px;
}

.banner-bottom img{
    width: 100%;
    height: 100%;
}

/* team-section start */
.team-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 85px;
    padding: 0 25px;
    margin-bottom: 130px;
}
.team-image-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.team-image-box img{
    width: 100%;
}

.team-content-box{
    max-width: 537px;
}

.team-content-box h2{
    color: var(--heading-color);
    font-weight: 700;
    margin-bottom: 24px;
}

.team-content-box h2 .quick{
    color: var(--text-color);
    font-weight: 500;
}

.team-content-box h2 .features-span{
    color: var(--primary-color);
}

.team-content-box p{
    color: var(--text-color);
    font-weight: 400;
    margin-bottom: 32px;
}

.team-content-box .team-btn{
    text-align: left;
}

/* Features section start */
.features-section-box{
    display: flex;
    justify-content: center;
    gap: 146px;
}

.features-content{
    max-width: 586px;
}

.features-content h2{
    color: var(--heading-color);
    font-weight: 700;
    border-left: 5px solid var(--primary-color);
}

.features-image  img{
    width: 100%;
}